.FeedbackWrapper {
    width: 100%;
    height: 80vh;
}

.FeedbackContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid var(--secondary-dark);
    padding: 1rem;
}


.Form {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.3);
    border-radius: 6px;
    padding: 1rem;
}

.Slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
}
.InputContainer,.TextareaContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}

/*.InputContainer {*/
/*    height: 4rem;*/
/*}*/

.TextareaContainer {
    height: 5rem;
    /*margin-bottom: 1rem;*/
}

.Input, .Textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
    color: var(--gray);
    border: 1px solid var(--blue-opacity);
    font-family: var(--font-family-roboto);
    font-size: var(--font-size-m);
    padding: 0.7rem;
}

.Input:hover, .Textarea:hover {
    border-color: var(--blue);
}

.ErrorMessage {
    color: var(--red);
    font-size: var(--font-size-xxs);
}

