.ConsultationFormWrapper {
    height: 100%;
    width: 100%;

}

.Form {
    display: flex;
    min-width: 20rem;
    flex-direction: column;
}

.FieldsContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.InputContainer,.TextareaContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.InputContainer {
    height: 4rem;
}

.TextareaContainer {
    height: 5rem;
    margin-bottom: 1rem;
}

.Input, .Textarea {
    width: 100%;
    border: 1px solid var(--blue-opacity);
    box-sizing: border-box;
    border-radius: 6px;
    color: var(--gray);
    outline: none;
    font-family: var(--font-family-roboto);
    padding: 0.7rem;
    font-size: var(--font-size-m);
}

.Input:hover, .Textarea:hover {
    border-color: var(--blue);
}

.ErrorMessage {
    color: var(--red);
    font-size: var(--font-size-xxs);
}
