.FooterWrapper {
    background: var(--grey-opacity);
}

.ContactInfo p {
    font-size: 18px;
    margin-top: 20px;
}

.SocialLinks {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.SocialLinks a {
    margin-right: 20px;
    font-size: 24px;
    color: #007bff;
}

.SocialLinks a:hover {
    cursor: pointer;
}