.FooterWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: var(--grey-opacity);
    padding:0.5rem;
}

.ContactInfo {
    font-size: var(--font-size-l);
    padding-bottom: 1rem;
    font-style: italic;
}

.SocialLinks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}



.SocialLinks a {
    margin-right: 20px;
    font-size: 24px;
    color: var(--consultation-btn-title);
    text-decoration: none;
}

.SocialLinks a:hover {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    color: var(--white);
}

.Button {
    padding-bottom: 1rem;
}