.ServicesWrapper {
    margin-bottom: 2rem;
}

.FirstPart {
    grid-area: first;
    border: 1px solid var(--secondary-dark);

}

.SecondPart {
    grid-area: second;
    border: 1px solid var(--secondary-dark);

}

.ThirdPart {
    grid-area: third;
    border: 1px solid var(--secondary-dark);

}

.ServicesContent {
    display: grid;
    grid-template-areas:
    'first second third'
    'first second third';
    gap: 0.7rem;
    border: 1px solid var(--secondary-dark);
    padding: 1rem;
    background: var(--bisque);
}

.ServicesContent > div {
    text-align: center;
    padding: 1rem 0;
}

